.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginContainer {
  border: 2px solid cyan;
  border-radius: 15px;
  padding: 1rem 2rem;
  box-shadow: cyan 0px 5px 15px;
  margin-top: 20px;
}

.loginContainer form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.loginContainer form input {
  text-align: center;
  padding: 0.5rem;
  margin: 10px;
  font-size: 40px;
  border-radius: 9px;
  border: 2px solid cyan;
  background-color: #282c34;
  color: cyan;
}

.loginContainer form input:-webkit-autofill,
input:-moz-autofill {
  box-shadow: 0 0 0 30px white inset !important;
  border: 1px solid green !important;
}

.loginContainer form button {
  font-size: 27px;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  background-color: #282c34;
  border: 2px ridge cyan;
  color: cyan;
}

#links a {
  list-style: none;
  text-decoration: none;
  width: 100px;
  font-size: 30px;
  border-radius: 15px;
  background-color: #282c34;
  border: 2px solid cyan;
  margin: 25px;
  color: white;
  padding: 0.4rem 1rem;
}

.dashboardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #61dafb;
}

.logoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #61dafb;
  border: 2px solid #61dafb;
  width: fit-content;
  margin: 10px auto;
  padding: 0.4rem 1rem;
  border-radius: 10px;
}

.backButton {
  border: 2px solid #61dafb;
  margin: 10px auto;
  text-decoration: none;
  color: #61dafb;
  padding: 0.4rem 1rem;
  border-radius: 10px;
}

.loginFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  align-items: center;
}

.createUserFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
@media only screen and (max-width: 768px) {
  .homePageHeading {
    color: #61dafb;
    font-size: 20px;
  }

  .homePageText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #links a {
    margin-top: 20px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  .loginContainer {
    width: 70%;
  }

  .loginContainer form input {
    font-size: 1.2rem;
  }
  .loginContainer form button {
    width: auto;
    font-size: 1.2rem;
    padding: 0.3rem;
  }
}
